body {
    font-family: 'Quicksand', sans-serif;
}

img {
    height: 60%;
    width: 60%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    height: 36em;
    width: 36em;
   
}

.square {
    height: 4em;
    width: 4em;
    margin: 0.25em;
    background-color: #babdb6; 
  
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open{
    /*background-color: #dededc; */
    background-color: #eceaea;
    
    
}

