body {
    font-family: 'Quicksand', sans-serif;
}

img {
    height: 60%;
    width: 60%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    height: 36em;
    width: 36em;
   
}

.square {
    position: relative;
    height: 4em;
    width: 4em;
    margin: 0.25em;
    z-index: 1;
    background-color: #eceaea;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.closed {
    top: 0;
    left: 0;
    position: absolute; 
    height: 4em;
    width: 4em;
    margin: 0 auto;
    border-radius: 5px;
    /*background-color: #babdb6; */
    background-color: rgba(186, 189, 182, 0.9);
    z-index: 2;
}

.flag {
    z-index: 3;
    background-color: #eceaea; 
    background-image: url('flag.png');
    background-size: contain;
}

.square-click{
    z-index: 5;
}

